@use "../../../../../scss/helpers/mixins" as *;

.select {
  @include flex-col;
  margin-top: 1rem;
  gap: 1rem;
  font-size: 1.2rem;

  select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: blue;
    font-size: 1.2rem;
    background-image: none;
    cursor: pointer;
  }
  &_container {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: 0.25em;
    overflow: hidden;
  }
  &_container::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: 0.25s all ease;
    pointer-events: none;
  }
  &_container:hover::after {
    color: #f39c12;
  }
}
