@use "../../../scss/helpers/mixins" as *;

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.select-list {
  @include flex-row;
  justify-content: space-around;
  align-items: center;
}

.flex {
  display: flex;
}
