<div>
    <h1>Card Page</h1>
    <div class="test">
        <app-card [name]="card.name" [manaCost]="card.manaCost" [type]="card.type" [text]="card.text"
            [imageUrl]="card.imageUrl" [imageAlt]="card.name"></app-card>
        <app-card [name]="card.name" [manaCost]="card.manaCost" [type]="card.type" [text]="card.text"
            [imageUrl]="card.imageUrl" [imageAlt]="card.name"></app-card>
        <app-card [name]="card.name" [manaCost]="card.manaCost" [type]="card.type" [text]="card.text"
            [imageUrl]="card.imageUrl" [imageAlt]="card.name"></app-card>
        <app-card [name]="card.name" [manaCost]="card.manaCost" [type]="card.type" [text]="card.text"
            [imageUrl]="card.imageUrl" [imageAlt]="card.name"></app-card>
    </div>
</div>